html {
  background-image: url(calculator.jpg);
  font-size: 20px;
  font-weight: bold;
  margin: 25% 25%;}

h1 {
  color: rgb(255, 255, 255);
  text-align: left;
  font-weight: 500 bold;
}

button {
  margin: 25px 25px;
  border-radius: 40px;
  background-color: rgb(36, 66, 15);
  color:rgb(255, 255, 255);
  width: 70px;
  height: 40px;
  text-align: center;
}

input {
  display: inline-block;
}
